<div class="chat-container">
    <!-- Zone de messages -->
    <main class="chat-messages" #messagesContainer>

        @for (message of chat(); track message.id) {
        <!--     <div [class]="message.role.toLowerCase()">
                    <p class="message-text">{{ message.text }}</p>
                </div> -->
        <div [class]="message.role.toLowerCase()" [innerHTML]="message.text"></div>
        }
    </main>

    <div class="chat-actions">
        @if (!tokens()) {
        <button class="action-button primary" (click)="handleCommand('1')" title="Se connecter">
            Je veux me connecter à mon compte Gmail
        </button>

        }
        @else {
        <button class="action-button primary" (click)="logout()" title="Se connecter">
            Me déconnecter
        </button>
        <button class="action-button secondary" (click)="handleCommand('2')" title="Voir les mails">
            Je veux voir mes mails
        </button>
        }
    </div>
    <!-- Zone d'entrée -->
    <footer class="chat-input-container">
        <input [(ngModel)]="userInput" type="text" class="chat-input" placeholder="Écrivez un message..." />
        <button (click)="onSubmit()" class="send-button">
            Envoyer
        </button>
    </footer>
</div>