<div class="chat-container">


    <!-- Zone de messages -->
    <main class="chat-messages" #messagesContainer>
        @for (message of messages(); track $index) {
        <div [class]="message.role" [innerHTML]="message.parts[0].text"></div>
        }
    </main>
    @if (isLoading()) {
    <div class="chat-status">
        <div class="loading-dots" aria-label="Chargement">
            <span></span>
            <span></span>
            <span></span>
            <span></span>

        </div>
    </div>
    }
    <div class="chat-actions">
        @if (!isLoggedIn()) {
        <button (click)="handleCommand('1')" class="action-button primary" title="Se connecter">
            Je veux me connecter à mon compte Gmail
        </button>

        }
        @else {
        <button (click)="handleCommand('3')" class="action-button primary" title="Se déconnecter">
            Me déconnecter
        </button>
        <button (click)="handleCommand('2')" class="action-button secondary" title="Voir les mails">
            Je veux voir mes mails
        </button>

        }

    </div>

    <!-- Zone d'entrée -->
    <footer class="chat-input-container">
        <input [(ngModel)]="userInput" type="text" class="chat-input" placeholder="Écrivez un message..." />
        <button (click)="onSubmit()" class="send-button">
            Envoyer
        </button>
    </footer>
</div>